main{
	padding: 30px;
	width: 800px;
	font-size: 0;
	margin-left: auto;
	margin-right: auto;
}

.first-row{
	width: 50%;
	height: 200px;
	display: inline-block;
	font-size: 0;
	border: 1px solid black;
}

.row1-column1{
	background-color: green;	
}

.row1-column2{
	background-color: blue;
}

.second-row{
	width: 33.33%;
	height: 300px;
	font-size: 0;
	display: inline-block;
	border: 1px solid black;
}

.row2-column1{
	background-color: grey;
}

.row2-column2{
	background-color: black;
}

.row2-column3{
	background-color: orange;
}